<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Fitness App 2</title>
</head>

<body>
<<<<<<< HEAD
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">Fitness App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/log">Log<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/activity-maint/0">Activity Maintenance</a>
      <a class="nav-item nav-link active" href="/nutrition-maint/0">Nutrition Maintenance</a>
    </div>
  </div>
  </nav>
  
=======
   
>>>>>>> 231bf8901cf7068031a65132742a7a7a3acff5c8
  {{{body}}}
	<script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
  <script src="/js/activity-maint.js"></script>
  <script src="/js/nutrition-maint.js"></script>

</body>

</html>
