<div id="home">
  <div class="container">

    <div class="jumbotron">
      <h3 class="text-center">Welcome to Fitness App!</h3>
      <br>
    </div> <!--jumbotron-->

    <div class="row">
      <main id="first_page_main" class="col-md-8 offset-md-2">
        <div id="first_desc" class="row">
          <div class="col-md-10 offset-md-1">
            <p>The app designed to help you track your health</p>
          </div>
          
        </div>
        <br>
        <div id="first_login" class="row">
            <a href="/logpage"><button id="login" class="btn btn-primary">Login</button></a>
            <br>
            <a href="/signpage"><button id="signup" class="btn btn-primary">Sign Up</button></a>
        </div>
      </main>
    </div>
  </div> <!-- home -->
</div> <!-- home -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
