.sidebar { 
  background-color: mediumspringgreen;
}
body {
  background-color:#f4e7d7;
}
.jumbotron{
  background-color:#c88937;
  height:150px; 
}
.user-info{
  background-color: blanchedalmond;
}
#category-name{
  width:240px; 
}
#activity-name{
  width:240px; 
}
.actNameList{
  width:340px; 
}
.actMetList{
  width:60px; 
}
